.custom-container {
    max-width: 1200px;
    /* Largura máxima do container personalizado */
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.custom-btn {
    border: 2px solid #ff5733;
    /* Borda personalizada */
}

.background-container {
    background-image: url('/assets/img/frinds-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

